@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("font/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



.colorMode {
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  cursor: pointer;
  content: "\25A1";
}

.premiereligne {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}

.add-product {
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 20px;
  background-color: black;
  width: 200px;
  position: absolute;
  top: 238px;
  left: 0;
  margin-left: 10px;
  z-index: 1;
}

.add-product a {
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  text-align: left;
  text-decoration: none;
}

.cubepointer::placeholder {
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

.premiereligne input[type="text"] {
  width: 185px;
  height: 25%;
  padding: 18px 20px;
  margin: 2px 5px;
  cursor: pointer;
  border-radius: 20px;
}

.option {
  color: white;
  border: none;
  text-align: center;
  margin-right: 15px;
}

.cubepointer {
  display: inline-block;
  padding: 5px 20px;
  margin: 2px 5px;
  cursor: pointer;
  border-radius: 20px;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.product-display {
  margin-left: none;
  margin-right: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1350px;
  margin-left: 60px;
}

.product-block {
  background-color: #1f1e1e;
  border-radius: 20px;
  color: white;
  margin: 10px;
  padding: 20px;
  position: relative;
  text-align: center;
  flex-basis: calc(50% - 20px);
  height: 120px;
}

.product-block img {
  border-radius: 50%;
  height: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 80px;
  z-index: 2;
}

.product-block img:hover {
  border: 2px solid yellow;
  box-shadow: 0 0 10px yellow;
}

.product-block:hover {
  cursor: pointer;
}

.product-block:hover .product-info {
  display: block;
}

.product-info {
  background-color: black;
  border-radius: 20px;
  color: white;
  display: none;
  font-size: 16px;
  left: 0;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  width: 100%;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* hardware.php*/

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.cube {
  display: inline-flex;
  flex-direction: column;
  width: 220px;
  height: 220px;
  margin: 30px 50px;
  background-color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 30px;
}

.cube img {
  max-width: 100%;
  max-height: 100%;
}

.software {
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  color: white;
  background-color: black;
  width: 10%;
}

/*software.php*/

.block {
  background-color: black;
  color: white;
  padding: 30px;
  margin-bottom: 60px;
  margin: 30px 60px;
  width: 250px;
  text-align: center;
  border-radius: 20px;
}

.container-pdf {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.image {
  max-width: 100%;
  height: 275px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.year {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

/*pdf.php*/

main {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--background-color-main);
}

header,
footer {
  background-color: var(--background-color-header-footer);
}

/* header*/


header {
max-height: 220px;
}
.nav_header {
  padding-top: 1rem;
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 15%;
margin-bottom: 0px;
}

.nav_header button {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--button-color);
  width: 120px;
  text-align: center;
}

.nav_header a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 15px;
}

.imgheader {
  display: block;
  margin-left: 200px;
  height: 9rem;
  padding-top: 20px;
}

.site_header{
  position: relative;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  position: absolute;
  top: 20px;
  height: 20px; /* hauteur de votre header */
}

.first_header {
  display: flex;
  justify-content: space-between;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_container img {
  margin-left: 630px;
  height: 8.5rem;
}

.avatar {
  border-radius: 50%;
  height: 150px;
  position: absolute;
  right: 35px;
  top: 5%;
  width: 150px;
}
/*Fait manque position fixed*/

/* main */

body {
  margin: 0px;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


main {
  /*background-color: #0275d8;*/
  padding-top: 9rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px 0px 10px black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex:1;
}

h1 {
  text-align: center;
  color: black;
  font-size: 2em;
  margin-bottom: 20px;
}

form {
  text-align: center;
}

.case_droite {
  display: flex;
  height: 150px;
  background-color: var(--color-case);
  margin-left: 20%;
  margin-top: 1rem;
  margin-right: 1rem;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
  font-size: 22px;
  color: var(--color-case-text);
}

.case_gauche {
  display: flex;
  height: 150px;
  background-color: var(--color-case);
  margin-right: 20%;
  margin-top: 1rem;
  margin-left: 1rem;
  flex-wrap: nowrap;
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
  font-size: 22px;
  color: var(--color-case-text);
}
/*
#case_gauche1 {
  width: 20%;
  height: 20%;
  object-fit: cover;
  max-height: auto;
  background-image: var(--market);
  background-size: cover;
  background-repeat: no-repeat;
}
*/
#case_gauche1 {
  background-image: var(--market);
  width: 30%;
  background-size: contain;
  background-repeat: no-repeat;
}

#case_gauche2 {
  background-image: var(--tchat);
  width: 30%;
  background-size: contain;
  background-repeat: no-repeat;
}

#case_droite1 {
  background-image: var(--calendar);
  width: 30%;
  background-size: contain;
  background-repeat: no-repeat;
}

#case_droite2 {
  background-image: var(--alterance);
  width: 30%;
  background-size: contain;
  background-repeat: no-repeat;
}

div img {
  width: 200px;
  transition: width 1s;
}

.case_droite img:hover {
  width: 220px;
}

.case_gauche img:hover {
  width: 220px;
}

.case_droite img {
  padding: 5%;
}

.p_div {
  margin-left: 1rem;
  margin-top: 1rem;
}

/* footer*/

.div_footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  margin-left: 30px;
}

.div_footer img {
  height: auto;
  width: 15%;
  margin-right: 1rem;
}

.div_footer ul {
  width: 40%;
  padding: 1rem;
}

.div_footer a {
  text-decoration: none;
  font-weight: bold;
  color: var(--button-color);
  font-size: 1.1em;
}

.nav_footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/* 







Front-Office 







*/

input[type="mail"],
input[type="password"],
input[type="text"],
input[type="integer"],
input[type="pseudo"] {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 10px;
  height: 50px;
  width: 230px;
}

input[type="submit"] {
  background-color: #0275d8;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
  margin: 10px;
}

button[type="submit"] {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 30px;

  /*
  background-color: darkblue;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 10px;
  */
}

.choose_insc {
  margin: 0.5rem;
  width: 35%;
  padding: 5px;
}

.p_insc {
  margin-top: 15px;
  padding: 10px;
  font-weight: bold;
  color: #0275d8;
  border-radius: 20px;
  background-color: #2b2b2b;
  width: 26.5%;
  margin-left: auto;
  margin-right: auto;
}

.goback_insc {
  text-decoration: none;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  font-weight: bold;
  color: #0275d8;
  border-radius: 20px;
  background-color: #2b2b2b;
}

.main_connexion {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

.inscrip {
  margin: 6rem;
  margin-bottom: 11rem;
}

/*
  chat
*/

#chat-container {
  display: flex;
  flex-direction: column;
  height: 95vh;
  text-align: center;
  width: 100%;
  background-color: black;
  margin-right: 20px;
  border-radius: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
}

#chat-header {
  background-color: #0084ff;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
}

#chat-header2 {
  background-color: #0084ff;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding: 2px;
  border-radius: 20px;
  margin: auto;
}

#chat-messages {
  flex-grow: 1;
  overflow-y: auto;
}

.message {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  clear: both;
}

.sent {
  background-color: #0084ff;
  color: #fff;
  float: right;
  white-space: pre-wrap;
}

li {
  list-style: none;
}

.received {
  background-color: #fff;
  color: #000;
  float: left;
}

#chat-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  margin-bottom: 20px;
  margin-left: 35%;
}

#chat-input::placeholder {
  text-align: center;
}

#chat-input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

#chat-submit {
  background-color: #0084ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  height: 50px !important;
  margin-left: 10px;
  cursor: pointer;
}

#subject-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  height: 100vh;
  color: white;
}

#menu {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 50%;
  margin-left: 20%;
  margin-bottom: 5%;
  margin-top: 30px;
  padding-top: 10px;
}

#menu a {
  margin: 5px;
  text-decoration: none;
  color: white;
  border-bottom: 5px solid #0084ff;
  padding: 5px;
  font-size: 30px;
  margin-top: 10px;
}

.chatOptionDisplay {
  color: #0084ff;
  font-weight: bold;
}

.chatOptionForm {
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 5px;
}

.chatOptionInput {
  margin: 5px;
  border-radius: 5px;
  background-color: #2b2b2b;
  color: #fff;
}

.chatTitle {
  display: flex;
  flex-direction: column;
}

.chatId {
  background-color: #0084ff;
  margin: 5px;
  padding: 0.5rem;
  border-radius: 20px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
/*

  CALENDRIER

*/

.caldendar {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

#calendar {
  margin-bottom: 5px;
}

.week {
  display: flex;
  flex-wrap: nowrap;
}

.caldendarFrame {
  padding-bottom: 4rem;
  background-color: #2b2b2b;
  color: #0084ff;
  outline: solid #0084ff;
  width: 14% !important;
}

.caldendarFrameTitle {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #1f1e1e;
  width: 100%;
  font-weight: bold;
  display: block;
  text-decoration: none;
}

.eventList {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 70%;
  margin-left: 20px;
  margin-bottom: 5%;
  margin-top: 30px;
  padding-top: 10px;
}

.eventTime{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.chatOptionInput2 {
  margin: 5px;
  border-radius: 5px;
  background-color: #2b2b2b;
  color: #fff;
  width: 70%;
}


/*


    CAPCHA


*/

.CapchaButton {
  width: 10%;
  background-color: #2b2b2b;
  color: white;
}

.validcapcha {
  margin-top: 20rem;
}

.imgdiv {
  margin-bottom: 10%;
  width: 40%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 0.4fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(115px, auto);
}

.n1 {
  grid-column: 1;
  grid-row: 1;
}

.n2 {
  grid-column: 2;
  grid-row: 1;
}

.n3 {
  grid-column: 3;
  grid-row: 1;
}

.n4 {
  grid-column: 1;
  grid-row: 2;
}

.n5 {
  grid-column: 2;
  grid-row: 2;
}

.n6 {
  grid-column: 3;
  grid-row: 2;
}

.n7 {
  grid-column: 1;
  grid-row: 3;
}

.n8 {
  grid-column: 2;
  grid-row: 3;
}

.n9 {
  grid-column: 3;
  grid-row: 3;
}

/*

FAQ

*/

.accordion-button {
  background-color: #2b2b2b !important;
  color: #0084ff !important;
  font-weight: bold !important;
}

.accordion-body {
  background-color: #2b2b2b !important;
  color: #0084ff !important;
}

/*

PROFIL

*/


.formProfil{
  background-color:#2b2b2b;
  color:#0275d8;
  border-radius:20px;
  margin:20px;
}

.formProfil label{
  font-weight:bold;
  font-size:30px;
}

.mainProfil h1{
  font-weight:bold;
}


/*

AVATAR

*/

#avatar-button {
  background-color: #2b2b2b ;
  text-decoration: none;
  color: white;
  width: 5%;
}

/*

THEME

*/

.background_theme {
  width: 27%;
  border-radius: 5%;
}

.display_theme {
  display: flex;
  height: 80%;
  justify-content: space-evenly;
}

#theme1 {
  background-color: #0275d8;
  border: 3px solid #000;
}

#theme2 {
  background-color: #000;
  border: 3px solid white;
  color: white;
}

#theme3 {
  background-color: rgb(31, 30, 30);
  border: 3px solid #000;
}

.btn-toogle {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #333;
  color: #fff;
  border: 1px solid #333;
  cursor: pointer;
}

body:not(.dark-mode) {
  --background-color-main: #c2c8cc;
  --background-color-header-footer: #42a3f7;
  --color: white;
  --button-color: #1e272e;
  --logo: url(../img/logo_black.png);

  /*index*/
  --color-case: white;
  --color-case-text: #1f1e1e;
  --market: url(../img/market_icon_black.png);
  --tchat: url(../img/tchat_icon_black.png);
  --calendar: url(../img/calendar2_icon_black.png);
  --alterance: url(../img/stage_alternance_icon_black.png);
}

.dark-mode {
  --background-color-main: #0275d8;
  --background-color-header-footer: #1f1e1e;
  --color: #1e272e;
  --button-color: #0275d8;

  /*index*/
  --color-case: #1f1e1e;
  --color-case-text: white;
  --market: url(../img/market_icon_white.png);
  --tchat: url(../img/tchat_icon_white.png);
  --calendar: url(../img/calendar2_icon_white.png);
  --alterance: url(../img/stage_alternance_icon_white.png);
}
